<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todo</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="./js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.23.2/vuedraggable.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- jQuery UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
</head>

<body>

  <!-- ドラックアンドドロップ 範囲指定 -->
<div id="jq-area" class="use-jq-area">
<hello-world v-bind:style="box" class="box"></hello-world>
<hello-world v-bind:style="box02" class="box"></hello-world>
</div>




  <!-- 要素の並び替え配列を使用 -->
  <div id="app02">
    <draggable tag="ul" class="app-list" :options="{animation:300}">
      <li v-for="item in items" :key="item">{{item.greet}}</li>
    </draggable>
  </div>

  <!-- テキストを変更 -->

  <div id="app03">
    <div class="item">
      <input v-if="editObj==='content'" v-model="content" @keyup.enter="offEdit('content')" @blur="offEdit('content')"
        v-focus v-cloak name="content" id="content">
      <p v-if="editObj!=='content'" @click="onEdit('content')" v-cloak>{{content}}</p>
    </div>
  </div>


</body>

<script>
  const draggable = window['vuedraggable'];


Vue.component('hello-world',{
  template : '<div>Hello World</div>'
})

var app = new Vue({
  el: '#jq-area',
  data: {
  	box:{
      width:'250px',
      height:'150px',
      background:'red'
    },
    box02:{
      width:'250px',
      height:'150px',
      background:'blue'
    }
  },
  mounted:$(function(){
    $('#jq-area').sortable();
    $('#jq-area').disableSelection();
   })
})




  // 要素並び変え配列を使用
  var array = new Vue({
    el: '#app02',
    components: {
      'draggable': draggable,
    },
    data: {
      items: [{
          greet: 'おはよう'
        },
        {
          greet: 'こんにちは'
        },
        {
          greet: 'こんばんわ'
        }
      ]
    }
  })

  // テキスト変更
  Vue.directive('focus', {
    inserted: function (el) {
      el.focus()
    }
  })

  new Vue({
    el: "#app03",
    data: {
      content: "クリックしてみて",
      editObj: "",
      editVal: ""
    },

    methods: {
      onEdit: function (OBJ) {
        this.editObj = OBJ
        this.editVal = this[OBJ]
      },

      offEdit: function (OBJ) {
        this.editObj = ''
        elem = document.getElementById(OBJ)

        if (elem.value == "") {
          this[OBJ] = this.editVal;
        }
      }
    },
  })
</script>

</html>